<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synex</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" href="./style.css">
    <script type="module" src="/scripts/views/general-demo/index.js"></script>
</head>

<body>
    <div id="games">
        <div id="game-1" class="game-container"></div>
        <div id="game-2" class="game-container"></div>
    </div>
</body>

</html>