body {
    background-color: #222225;
    margin: 0;
}

#games {
    display: flex;
    justify-items: center;
    flex-basis: 100%;
    gap: 10px;
}

.game-container {
    flex: 1;
}

.game-container canvas {
    background-color: #111;
    width: 100%;
}